.container
  .row
    .span12
      %ul.breadcrumb

      / end .breadcrumb
    / .span12
  / end .row
  .row
    .span6.push.offset3
      .well.center
        %h2 Fitness is always better with people you know!
        %a.btn.btn-large.facebook{ href: "#"}
          %i.icon-facebook-sign.icon-large
          Connect Facebook
        %br
        %br
        %a.btn.btn-large.twitter{ href: "#"}
          %i.icon-twitter-sign.icon-large
          Connect Twitter
        %br
        %br
        %a.btn.btn-large.google_plus{ href: "#"}
          %i.icon-google-plus-sign.icon-large
          Connect Goolge+
        %br
        %br
        %a.btn.btn-large.linkedin{ href: "#"}
          %i.icon-linkedin-sign.icon-large
          Connect Linkedin
      / end .hero-unit
  / end .row
  .row
    .span12
      %a.btn.pull-left{ href: "#"}
        %i.icon-circle-arrow-left
        Previous
      %a.btn.pull-right{ href: "#"}
        Next
        %i.icon-circle-arrow-right
    / end span12
  / end .row
/ end .container