.container
  .row
    .span12
      %ul.breadcrumb

      / end .breadcrumb
    / .span12
  / end .row
  .row
    .span6.push.offset3
      .well.center
        %h2 Add interests to get recommendations
        %p
          %a.btn.active{ href: "#"}
            %i.icon-ok
            Weight loss
          %a.btn.active{ href: "#"}
            %i.icon-ok
            Nutrition
          %a.btn{ href: "#"}
            Motivation
          %a.btn.active{ href: "#"}
            %i.icon-ok
            Training
        %p
          %a.btn{ href: "#"}
            Rehabilitation
          %a.btn{ href: "#"}
            Lorem ipsum
          %a.btn{ href: "#"}
            Lorem ipsum
          %a.btn{ href: "#"}
            Lorem ipsum
        %p
          %a.btn{ href: "#"}
            Lorem ipsum
          %a.btn{ href: "#"}
            Lorem ipsum
          %a.btn{ href: "#"}
            Lorem ipsum
          %a.btn{ href: "#"}
            Lorem ipsum
      / end .hero-unit
  / end .row
  .row
    .span12
      %a.btn.pull-left{ href: "#"}
        %i.icon-circle-arrow-left
        Previous
      %a.btn.pull-right{ href: "#"}
        Next
        %i.icon-circle-arrow-right
    / end span12
  / end .row
/ end .container