.row-fluid
  .span8
    .well
      %h3 Edit Your Notifications
      %p
        %b Receive a notification when
      %label.checkbox
        %input{:type => "checkbox", :value => ""}
          User compliments you
      %label.checkbox
        %input{:type => "checkbox", :value => ""}
          User follows you
      %label.checkbox
        %input{:type => "checkbox", :value => ""}
          User likes your content
      %label.checkbox
        %input{:type => "checkbox", :value => ""}
          User comments on your content
      %label.checkbox
        %input{:type => "checkbox", :value => ""}
          User shares content with you

      %p
        %b Get Notifications Via
      %label.checkbox
        %input{:type => "checkbox", :value => ""}
          Email
      %label.checkbox
        %input{:type => "checkbox", :value => ""}
          SMS
      %label.checkbox
        %input{:type => "checkbox", :value => ""}
          Surpass the Limit

      %button.btn{:type => "button"} Submit
      
  .span4
    .well{:style => "min-height: 800px;"}
      .well{:style => "min-height: 500px; margin-top:25px;"}
        Edit your notifications to make sure you're getting notified when you want.

