.wrapper
  .container
    .row
      #featured_content
        .span3
          %section
            %h1 Featured Content
            %p This section brings you the best content on Surpass the Limit! Read On!
            %a{ :href => "", :class => "btn btn-large btn-inverse"}
              %i.icon-plus
              Contribute Content
        / end .span3
        .span3
          %section.box.status
            %h1
              %a{ :href => "#" } I need to take control of my health!
            %p.author
              %strong Ed Hardy,
              Chicago, IL
            .media
              %img{:alt => "", :src => "http://placehold.it/250x250"}/
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deserunt debitis itaque dignissimos qofficiis rem iste dolorum nisi!
            .box_controls
              %a.btn.btn-link
                %i.icon-heart
                Like
              %a.btn.btn-link
                %i.icon-comment
                Comment
            %ul.comment_list
              %li.comment
                .user_avatar
                  %a{:href => "#"}
                    %img{:alt => "", :src => "http://placehold.it/57x57"}/
                .comment_body
                  %a{:href => "#", :title => "User name"} User name
                  %p Nostrum tempore inventore corporis harum nisi atque sequi sunt porro at dolor beatae ea facere incidlaudantium dicta sit consequatur voluptatum. Temporibus.
                  .time_stamp 2 hours ago
                  %a.like{:href => "#"}
                    %i.icon-heart
                    Like
              / // end .comment
              %li.comment
                .user_avatar
                  %a{:href => "#"}
                    %img{:alt => "", :src => "http://placehold.it/57x57"}/
                .comment_body
                  %form
                    %textarea{ :placeholder => "Add a comment"}
              / // end .comment
            / end .comment_list
          / end .box.status
        / end .span3
        .span3
          %section.box.workout
            %h1
              %a{ :href => "#" } I need to take control of my health!
            %p.author
              %strong Ed Hardy,
              Chicago, IL
            .media
              %video.video-js.vjs-default-skin{:controls => "", "data-setup" => "{}", :preload => "auto",}
                %source{:src => "http://video-js.zencoder.com/oceans-clip.mp4", :type => "video/mp4"}/
                %source{:src => "http://video-js.zencoder.com/oceans-clip.webm", :type => "video/webm"}/
                %source{:src => "http://video-js.zencoder.com/oceans-clip.ogv", :type => "video/ogg"}/
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deserunt debitis itaque dignissimos qofficiis rem iste dolorum nisi!
            .box_controls
              %a.btn.btn-link
                %i.icon-heart
                Like
              %a.btn.btn-link
                %i.icon-comment
                Comment
          / end .box.workout
        / end .span3
        .span3
          %section.box.discussion
            %h1
              %a{ :href => "#" } I need to take control of my health!
            %p.author
              %strong Ed Hardy,
              Chicago, IL
            .media
              %img{:alt => "", :src => "http://placehold.it/250x250"}/
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deserunt debitis itaque dignissimos qofficiis rem iste dolorum nisi!
            .box_controls
              %a.btn.btn-link
                %i.icon-heart
                Like
              %a.btn.btn-link
                %i.icon-comment
                Comment
            %ul.comment_list
              %li.comment
                .user_avatar
                  %a{:href => "#"}
                    %img{:alt => "", :src => "http://placehold.it/57x57"}/
                .comment_body
                  %a{:href => "#", :title => "User name"} User name
                  %p Nostrum tempore inventore corporis harum nisi atque sequi sunt porro at dolor beatae ea facere incidlaudantium dicta sit consequatur voluptatum. Temporibus.
                  .time_stamp 2 hours ago
                  %a.like{:href => "#"}
                    %i.icon-heart
                    Like
              / // end .comment
              %li.comment
                .user_avatar
                  %a{:href => "#"}
                    %img{:alt => "", :src => "http://placehold.it/57x57"}/
                .comment_body
                  %form
                    %textarea{ :placeholder => "Add a comment"}
              / // end .comment
            / end .comment_list
          / end .box.discussion
        / end .span3
      / end #featred_content
    / end .row
  / end .container
/ end .wrapper