$("#add_errors ul").empty();
<% if status == :success %>
	$("#shareStackModal #saveFade").show();
	$("#shareStackModal #saveFade #link-loading").hide();
	$("#shareStackModal #saveFade #success").show();
	setTimeout(function() {
	      $('#shareStackModal').modal('hide')
	}, 1000);
	
<% elsif status == :blank %>
	$("#shareStackModal #saveFade").hide();
	$("#shareStackModal #saveFade p#link-loading").hide();
	$("#shareStackModal #add_errors").show();
	$("#shareStackModal #add_errors ul").append("<li>Please enter usernames or emails to share with.</li>");
<% else %>
	$("#shareStackModal #saveFade").hide();
	$("#shareStackModal #saveFade p#link-loading").hide();
	$("#shareStackModal #add_errors").show();
	$("#shareStackModal #add_errors ul").append("<li>Something went wrong.</li>");
<% end %>