<!DOCTYPE html>
<html>
	<head>
		<meta content = "text/html; charset=UTTF-8" http-equiv="Content-Type" />
	</head>
	<body>		
		<h1>Feedback from <%= @name %> </h1>
		<p>
	 	<h2>
	 		<%= @contents %>
	 	</h2>
	 	</p>
	 	<p>Thanks for joining and have a great day!!!</p>
	 </body>
</html>
