/* --------------------------------------------------------------
  Buttons
-------------------------------------------------------------- */

/* Social
-------------------------------------------------------------- */
.social {
  a {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-indent: -9999em;
    cursor: pointer;

    &.facebook {
      background: image-url('icons/48x48/facebook.png') no-repeat 0 0;

      &:hover {
        background: image-url('icons/48x48/facebook_hover.png') no-repeat 0 0;
      }
    }

    &.facebook-added {
      background: image-url('icons/48x48/facebook_hover.png') no-repeat 0 0;
    }

    &.twitter {
      background: image-url('icons/48x48/twitter.png') no-repeat 0 0;

      &:hover {
        background: image-url('icons/48x48/twitter_hover.png') no-repeat 0 0;
      }
    }

    &.twitter-added {
      background: image-url('icons/48x48/twitter_hover.png') no-repeat 0 0;
    }

    &.google {
      background: image-url('icons/48x48/google.png') no-repeat 0 0;

      &:hover {
        background: image-url('icons/48x48/google_hover.png') no-repeat 0 0;
      }
    }

    &.google-added {
      background: image-url('icons/48x48/google_hover.png') no-repeat 0 0;
    }

    &.linkedin {
      background: image-url('icons/48x48/twitter.png') no-repeat 0 0;

      &:hover {
        background: image-url('icons/48x48/twitter_hover.png') no-repeat 0 0;
      }
    }

    &.linkedin-added {
      background: image-url('icons/48x48/twitter_hover.png') no-repeat 0 0;
    }
  }
}

/* Tag
-------------------------------------------------------------- */
.tag {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 5px;
  line-height: 20px;
  background: $grayLighter;
  color: $gray;

  [class^="icon-"], 
  [class*=" icon-"] {
    margin-left: 5px;
    color: $orange;
  }
}

/* Feedback button */ 
#feedback{
  position: fixed;
  top: 50%;
  -moz-transform: rotate(90deg); /* FF3.5+ */
  -o-transform: rotate(90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.9); /* IE6, IE7*/
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.9)"; /* IE8 */
  width: 60px;
  left: -30px;
 }
/* Orange button
-------------------------------------------------------------- */
.orange_button {
  display: inline-block;
  @include ie7-inline-block();
  padding: 4px 12px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  *line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: $white;
  background: $orange;
  border: none;
  // border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  // border-bottom-color: darken($orange, 10%);
  // @include border-radius($baseBorderRadius);
  // @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));

  // Hover state
  &:hover {
    color: $white;
    text-decoration: none;
    background-color: darken($orange, 10%);
    *background-color: darken($orange, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
  }

  // Focus state for keyboard and accessibility
  &:focus {
    @include tab-focus();
  }

  // Active state
  &.active,
  &:active {
    background-color: darken($orange, 10%);
    background-color: darken($orange, 15%) \9;
    background-image: none;
    outline: 0;
    // @include box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05));
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-color: darken($orange, 10%);
    background-image: none;
    @include opacity(65);
    @include box-shadow(none);
  }

  &.small {
    padding: 0 6px;
    font-size: 10.5px;

    [class^="icon-"], [class*=" icon-"] {
      width: auto !important;
      height: auto !important;
      line-height: 14px !important;

    }
  }
}

