/* --------------------------------------------------------------
  Debug
-------------------------------------------------------------- */
.debug_dump {
  clear: both;
  float: left;
  width: 80%;
  margin: 45px 20px 20px 20px;
  @include box-sizing(border-box);
}