/* --------------------------------------------------------------
  Tagit
-------------------------------------------------------------- */

ul.tagit {
    border: solid 1px #CCC;
    background: white;
}
ul.tagit li.tagit-choice {
background: #EEE;
color: #555;
}
ul.tagit li.tagit-choice .tagit-label:not(a) {
    color: #555;
}
ul.tagit li.tagit-choice a.tagit-close {
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    right: .4em;
}
ul.tagit li.tagit-choice .ui-icon {
    display: none;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 25px;
    line-height: 16px;
    color: #DC6D00;
}
ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove {
/*    background-color: #bbcef1;
    border-color: #6d95e0;*/
}
ul.tagit li.tagit-choice a.tagLabel:hover,
ul.tagit li.tagit-choice a.tagit-close .text-icon:hover {
/*    color: #222;*/
}
ul.tagit input[type="text"] {
    color: #333333;
    background: none;
}
.ui-widget {
    font-size: 14px;
}