// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.service_pse
{
  float: left;
  
  .pse_elemnt
  {
    float: left;
    width: 25%;
    margin-right: 5%;
  }
}

.promotion
{
  float:left;
  
  label, input
  {
    float:left;
  }
  
  label
  {
    padding-left: 5px;
  }
}

#service_submit
{
    float: left;
    margin-left: 30px;
}
.clearx
{
  clear: both;
}

 
  .service_media
  {
    display: block;
    clear: both;

    video, img {
      width: 100%;
      margin: 0 0 20px 0;
    }
    width: 300px;    
    float: left;
  }
  
  .service_info
  {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    .price
    {
      font-size: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .spots, .expiration
    {
      font-size: 27px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .register
    {
      margin-top: 10px;
      margin-bottom: 10px;      
    }
    
    div.expiration
    {
      color: red;     
    }
  }

.comment_like
{
  float: left;
}

.service_menu_right

{
  float:right;
}

.menu
{
  float: left;
}

.share_btn
{
  float: left;
}

.fp
{
  float: left;
   margin-top: 35px;
  .f
  {
    float: left;
    padding: 2px 10px 2px;
        
    a{
      color: #7CA1C1;  
    }    
  }
  
  .p
  {
    float: left;
    padding: 2px 10px 2px;
    
    margin-left: 5px;
    
    border-left: 2px solid;
    
    a{
      color: #7CA1C1;  
    }
  }
}

.experience
{
  .title  
  {
    font-size: 15px; 
     padding-top: 20px; 
  }
  
  .body
  {
    padding-top: 10px;
  }
  padding-left: 10px;
}

.sort
{
  float: right;
  
  .label_for_sort  
  {
    float: left;
    font-size: 14px;
    padding-top: 7px;
  }
  
  .sort_list
  {
    float: left;
  }
  
}
