%footer#footer
  .container
    .row
      .span4
        %h1#logo_footer
          = link_to "Surpass the Limit", root_path
        / end #logo_footer
      / end .span4
      .span8
        %h2 Aim. Achieve. Surpass.
        %p Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        #footer_nav
          %a{ :href => "#", :title => "HOME"} HOME
          |
          %a{ :href => "#", :title => "ABOUT STL"} ABOUT STL
          |
          %a{ :href => "#", :title => "THE STL BLOG"} THE STL BLOG
          |
          %a{ :href => "#", :title => "STL COMMUNITY"} STL COMMUNITY
          |
          %a{ :href => "#", :title => "EVENTS"} EVENTS
          |
          %a{ :href => "#", :title => "CAREERS"} CAREERS
        / end #footer_nav
    / end .row
  / end .container
  #copyright
    .container
      %p.pull-left
        &copy; 2012. ALL RIGHT RESERVED. SURPASS THE LIMIT Founded by William Chang
        %br
        Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna.
      %p.social.pull-right
        %a.google{ :href => "#" } Google
        %a.facebook{ :href => "#" } Facebook
        %a.twitter{ :href => "#" } Twitter
    / end .container
  / end #copyright
/ end #footer
